<footer class="footer-distributed">

  <div class="footer-left">

    <h2>Weather<span>&nbsp;Buddy</span></h2>

    

    <p class="footer-company-name">Anil Phiyak © 2021</p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/anil-phiyak-4bba001bb?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BpqPFqu96RhK2GjLv1b65bQ%3D%3D"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/AkaCoder007"><i class="fa fa-github"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p>Contact Us</p>

    <form action="#" method="post">

      <input type="text" name="email" placeholder="Email">
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div>

</footer>